We want to create an IMDB clone, with the twist that we only display
the pages for movies that are in theaters. As part of this, we want to
get a count of images to approximate how much storage space we need.

You need to do the following:
- Use the rottentomatoes.com API to get the list of movies currently in theaters

- For-each movie in the list, download it's matching IMDB page and get
  a count of the number of images in the page.

Write a Python program, img_count.py, that implements this.

OUTPUT
A JSON list of objects that looks like this:
[
 {
    "url": "http://www.imdb.com/title/tt1229340", 
    "count": 71, 
    "imdb_id": "1229340"
  }
]
Each movie in the in-theaters list must have an entry in the result.

REQUIREMENTS
The program must be a Python file named img_count.py

It must be able to run in a standard Linux terminal using Python 2.7.

img_count.py must be able to be run as either a shell script or via %
python img_count.py

img_count.py must print the expected output (as above) to stdout
    ​